*, *::before, *::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
	padding-bottom:1000px;
    background-color: var(--main_black);
}

a {
	text-decoration: none;
	color: var(--blue);
	/* &:hover {
		text-decoration: underline;
	} */
}
h2 {
	font-size:32px;
	line-height:1;
	/* margin-bottom:10px; */
	/* text-align:center; */
	color: var(--grey);
	/* padding:30px; */
	@media (max-width:1024px){
		font-size:32px;
	}
}

h3 {
	font-size:32px;
	font-weight:600;
	line-height:1;
	margin-bottom:20px;
	color: var(--grey);
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    color: var(--grey);
}