.home {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1440px;
    background-image: url(../img/galaxy-eclipse-keshtkobnugjix7d.gif);
    background-size: cover; 
    background-position: center; 
    position: relative; 
}

.container {
    margin: auto;
    padding: 0 30px;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.home-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
    margin: 20px 0 20px 0;
    justify-content: center;
}
.home-description {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}
.home-img {
    padding: 20px 0;
    width: 20%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {
        transform:rotate(0deg)
        }
    to {
        transform:rotate(360deg)
    }
}

.cta-area {
    margin: 30px 0;
}

/* .btn {
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--grey);
}

.btn:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color:var(--main_red);
    color: var(--white);
} */

.btn {
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    color: var(--white);
    background: linear-gradient(45deg, #9b59b6, #6c3483, #8e44ad, #5b2c6f);
    background-size: 300% 300%;
    animation: gradientShift 3s infinite alternate;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Анимация градиентного переливания */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Эффект при наведении */
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
