.home {
    text-align: center;
    padding: 0 20px 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.home-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
    margin: 20px 0 20px 0;
    justify-content: center;
}
.home-description {
    margin: 0 0 35px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
}
.home-img {
    padding: 20px 0;
    width: 20%;
    /* height: 400px; */
    object-fit: cover;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

@media (max-width: 480px) {
    .home-img {
        min-width: 150px;
    }
}