.mission {
    margin: 30px auto;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    max-width: 1440px; 
    box-sizing: border-box;
    padding: 0 0 30px 400px;
    background-image: url(../img/mission\ background\ image.png);
    background-size: cover; 
    background-position: center; 
    position: relative; 
}

.mission h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
    margin: 20px 0;
    text-align: center; 
}

.mission p {
    color: var(--white);
}

.mission_description {
    /* display: flex;
    max-width: 935px; 
    padding: 20px 0 20px 300px;
    margin: auto 0; 
    flex: 1; 
    justify-content: end; */
}

.mission-img {
    display: none;
}

@media (max-width: 900px) {
    .mission {
        padding: 30px 30px;
        background-image:none;
        background-color: var(--main_red);
    }
    .mission-img {
    display:flex;
    min-width: 300px;
    margin-top: 20px;
    }
}
