.mission {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 30px;
}

.mission h2 {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
    margin: 20px 0 20px 0;
    justify-content: center;
}
/* .mission_description {
    max-width: 600px;
    margin: auto;

} */

.mission-img {
    min-width: 400px;
    padding: 30px;
}

@media (max-width: 768px) {
    .mission {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .section_1 img {
        padding: 30px;
    }
    .section_description {
        margin: 0;
    }
    }



