.section_1 {
    margin: 0 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 30px;
    background-image: url(../img/nightsky.gif);
    background-size:contain; 
    background-position: center; 
    position: relative; 
}

.section-1-tittle {
    font-size: 32px;
    font-weight: 700;
    color: var(--white);
    margin: 20px 0 20px 0;
    justify-content: center;
}

.section_description {
    margin-right: 100px;
    padding: 0 30px;
    max-width: 800px;
}

.subtitle {
    display: flex;
    justify-content: center;
}

/* .note {
    font-weight: bold;
    color: var(--white);
} */

.section-1-img {
    min-width: 300px;
    padding: 30px;
}

@media (max-width: 768px) {
    .section_1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .section_1 img {
        padding: 30px;
    }
    .section_description {
        margin: 0;
    }
    }

    /* Базовый стиль текста */
.note {
    font-size: 2rem;
    font-weight: bold;
    color: #fff; /* Цвет текста */
    text-align: center;
    text-shadow: 0 0 5px #9b59b6; /* Начальная тень */
    animation: glowingShadow 2s infinite alternate;
  }
  
  /* Анимация фиолетовой тени */
  @keyframes glowingShadow {
    0% {
      text-shadow: 0 0 5px #9b59b6, 0 0 10px #9b59b6, 0 0 20px #8e44ad;
    }
    50% {
      text-shadow: 0 0 10px #9b59b6, 0 0 20px #8e44ad, 0 0 30px #6c3483;
    }
    100% {
      text-shadow: 0 0 15px #9b59b6, 0 0 30px #8e44ad, 0 0 45px #5b2c6f;
    }
  }
  


